*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: rgb(179, 214, 202);
}

.tasks-sheet{
    background-color: rgb(248, 234, 220);
    border: 2px solid black;
    box-shadow: 0 0 20px black;
}   

.task-container{
    height: 100vh;
}

.task-row{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.done{
    background-color: green;
}

.to-do{
    background-color: red;
}

.text-undone{
    text-decoration: underline;
    font-weight: bold;
    word-wrap: break-word;
    white-space: normal;
}

.text-done{
    text-decoration: line-through;
    word-wrap: break-word;
    white-space: normal;
}


